<%= form_for [@story, @plane] do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :colour %>
  <%= f.text_field :colour %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>
