<header>
  <h1 class="header-title">Creatures within <%= @landscape.name %></h1>
</header>

<article class="main-content">
  <div class="row">
    <% @creatures.each do |creature| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="<%= landscape_creature_path(@landscape, creature) %>" class="thumbnail thumbnail-custom">
        <img class="thumbnail-image" src="http://placekitten.com/600/600" />
        <h3 class="thumbnail-title"><%= creature.name %></h3>
      </a>
      <div class="thumbnail-options" role="group">
        <a href="<%= edit_landscape_creature_path(@landscape, creature) %>">
          <button type="button" class="btn-primary">Edit Information</button>
        </a>
        <a data-confirm="Are you sure you want to delete <%= creature.name %>?"data-method="delete" href="<%= landscape_creature_path(@landscape, creature) %>">
          <button type="button" class="btn-danger">Delete <%= creature.name %></button>
        </a>
      </div>
    </div>
    <% end %>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="<%= new_landscape_creature_path(@landscape) %>" class="thumbnail new-thumbnail">
        <h3 class="thumbnail-title">Create a New Creature</h3>
      </a>
    </div>

  </div>
</article>
