<h1> This is the new story form</h1>

<%= form_for @story do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :total_players %>
  <%= f.number_field :total_players %>
</div>
<div class="field">
  <%= f.label :ruleset %>
  <%= f.text_field :ruleset %>
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>
