<h1><%= @story.title %></h1>

<p> Welcome to the database for <%= @story.title %> </p>
<ul>
  <li>Number of Players: <%= link_to "#{@story.total_players}", story_players_path(@story) %>
  <li>Ruleset: <%= @story.ruleset %></li>
  <li>Completed Sessions: <%= @story.total_sessions %></li>

<% if @story.description %>
<h3>Overview</h3>
<p><%= @story.description %></p>
<% end %>

<%= link_to "Edit Information", edit_story_path %>
